.productName {
    font-weight: bold;
    vertical-align: middle;
}

.product{
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 7%;
    margin-top: 3%;
    display:box;
    padding: 5px;
    width: 15%;
    height: 5%;
    font-size: 100%;
    border-radius: 7%;
}

.product:hover{
    /* background-color: rgba(250, 250, 250, 0.578); */
    background-color: black;
    color: blanchedalmond;
}